.topbar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.app {
  display: flex;
  height: calc(100vh - 40px);
}

.sidebar {
  background-color: #f4f4f4;
  width: 200px;
  padding: 20px;
  height: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      height: auto;
      padding: 10px;
  }

  .content {
      padding: 10px;
  }
}